# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environment
env/
*.venv/
*.venv.*
.venv/

# Sublime Text
*.sublime-workspace

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# macOS
.DS_Store

# logs
*.log
