asn1crypto==0.24.0
bidict==0.22.1
certifi==2018.8.24
chardet==3.0.4
cryptography==2.6.1
distlib==0.3.6
entrypoints==0.3
filelock==3.12.1
idna==2.6
importlib-metadata==6.6.0
keyring==17.1.1
keyrings.alt==3.1.1
olefile==0.46
Pillow==5.4.1
platformdirs==3.5.3
pycrypto==2.6.1
PyGObject==3.30.4
python-apt==1.8.4.3
python-engineio==4.4.1
python-socketio==5.8.0
pyxdg==0.25
requests==2.21.0
rgbmatrix==0.0.1
SecretStorage==2.3.1
six==1.12.0
ssh-import-id==5.7
typing_extensions==4.6.3
urllib3==1.24.1
virtualenv==20.23.0
websockets==11.0.3
zipp==3.15.0
